<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/client/layout/layout}">

<th:block layout:fragment="content">
    <div class="text-center"><h3>게시판 상세</h3></div>

    <div class="container" th:object="${detail}">
        <div class="board-table-height">
            <form id="dataForm">
                <input type="hidden" name="no" th:value="*{no}" />
            </form>

            <table class="table table-bordered">
                <tbody class="text-center">
                <tr>
                    <td class="col-md-3">작성자</td>
                    <td class="col-md-3 text-start" th:text="*{name} + ' (조회수: ' + *{hit} + ')'"></td>
                    <td class="col-md-3">작성일</td>
                    <td class="col-md-3 text-start" th:text="*{#temporals.format(regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <td class="col-md-3">글제목</td>
                    <td colspan="3" class="col-md-9 text-start" th:text="*{title}"></td>
                </tr>
                <tr class="board-table-tr-height">
                    <td class="col-md-3 align-middle">글내용</td>
                    <td colspan="3" class="col-md-9 text-start" th:utext="${#strings.replace(detail.content, newLine, '&lt;br /&gt;')}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row text-center mb-2">
            <div class="col-md-9 text-start" id="pwdFormArea">

            </div>

            <div class="col-md-3 text-end">
                <button type="button" id="updateFormBtn" class="btn btn-primary btn-sm">글수정</button>
                <button type="button" id="boardDeleteBtn" class="btn btn-primary btn-sm">글삭제</button>
                <button type="button" id="insertFormBtn" class="btn btn-primary btn-sm">글쓰기</button>
                <button type="button" id="boardListBtn" class="btn btn-primary btn-sm">글목록</button>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/board/boardCommon.js"></script>
    <script src="/js/board/boardDetail.js"></script>
</th:block>
</html>