<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/client/layout/layout}">
<!--/* 나머지 페이지에서 layout:fragment="content" 아래의 코드는 기본 레이아웃의 content라는 부분에 위치한다. */-->

<th:block layout:fragment="content">
    <div class="text-center"><h3>게시판 리스트</h3></div>

    <div id = "boardSearch" class="my-2">
        <form id ="searchForm">
            <input type = "hidden" name="page" id="page" th:value="${boardList.pageRequestDTO.page}">
            <input type="hidden" name="size" id="size" th:value="${boardList.pageRequestDTO.size}">
            <div class="row g-2 align-item-center">
                <div class="col-auto">
                    <label for="search">검색조건</label>
                </div>
                <div class="col-auto">
                    <select class="form-select form-select-sm" name="search" id="search">
                        <option value = "title" th:selected="${boardList.pageRequestDTO.search=='title'}">글제목</option>
                        <option value = "name" th:selected="${boardList.pageRequestDTO.search=='name'}">작성자</option>
                        <option value = "content" th:selected="${boardList.pageRequestDTO.search=='content'}">글내용</option>
                        <option value = "regDate" th:selected="${boardList.pageRequestDTO.search=='regDate'}">등록일</option>
                    </select>
                </div>
                <div class="col-auto textArea">
                    <input type="text" placeholder="검색어를 입력하세요" class="form-control form-content  form-control-sm" name="keyword" id="keyword" th:value="${boardList.pageRequestDTO.keyword}" />
                </div>
                <div class="col-auto dateArea">
                    <input type="datetime-local" placeholder="시작일자" class="form-control form-control-sm" name="startDate" id="startDate" th:value="${boardList.pageRequestDTO.startDate}" />
                </div>
                <div class="col-auto dateArea">
                    <input type="datetime-local" placeholder="종료일자" class="form-control form-control-sm" name="endDate" id="endDate" th:value="${boardList.pageRequestDTO.endDate}" />
                </div>

                <div class="col-auto">
                    <button type="button" id="searchBtn" class="btn btn-primary btn-sm">검색</button>
                    <button type="button" id="allSearchBtn" class="btn btn-primary btn-sm">전체 조회</button>
                </div>
            </div>
        </form>
    </div>

    <div class="board-table-height">
        <table class="table table-hover">
            <thead>
            <tr class="text-center">
                <th class="col-md-2">이미지</th>
                <th class="col-md-1">글번호</th>
                <th class="col-md-3">글제목</th>
                <th class="col-md-2">작성자</th>
                <th class="col-md-3">등록일</th>
                <th class="col-md-1">조회수</th>
            </tr>
            </thead>
            <tbody class="list">
            <tr th:if="${#lists.size(boardList.dtoList)==0}">
                <td colspan="6" class="text-center">등록된 게시물이 존재하지 않습니다.</td>
            </tr>

            <th:block th:if="${not #strings.isEmpty(boardList.dtoList)}">
                <tr class="text-center" th:each="board : ${boardList.dtoList}" th:object="${board}"  th:data-no="*{no}">
                    <td><img th:src="@{/board/view/} + *{'s_'+filename}" /></td>
                    <td th:text="*{no}"></td>
                    <!--<td class="text-start goDetail" th:text="*{title}"></td>-->
                    <td class="text-start"><a th:href="@{/board/} + *{no}" th:text="*{title}"
                                              class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover goDetail"></a></td>
                    <td class="name" th:text="*{name}"></td>
                    <td class="date" th:text="*{#temporals.format(regDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="*{hit}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div class="text-end">
        <button type="button" id="insertFormBtn" class="btn btn-primary btn-sm mb-2">글쓰기</button>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${boardList.prev}">
                <a th:data-number="${boardList.prevPage}" class="page-link" >Previous</a>
            </li>

            <li th:each="number : ${boardList.pageNumList}" th:classappend=" 'page-item ' + ${(boardList.current == number) ? 'active':''}">
                <a class="page-link" th:text="${number}" th:data-number="${number}"></a>
            </li>

            <li class="page-item" th:if="${boardList.next}">
                <a th:data-number="${boardList.nextPage}" class="page-link" >Next</a>
            </li>
        </ul>
    </nav>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/board/boardCommon.js"></script>
    <script src="/js/board/boardList.js"></script>
</th:block>