<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 공통 정보  -->
<th:block th:fragment="config">
    <script src="/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>My Site</title>

    <link href="/image/icon.png" rel="icon" type="image/x-icon" />
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/jumbotron/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/common.css" rel="stylesheet" />
</th:block>

<!-- 상단 navbar  -->
<th:block th:fragment="header">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-2 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
                <span class="fs-4">My Project</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/board/boardList">갤러리 게시판</a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/article/articleList">자유 게시판</a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/data/busanWalkingView">부산도보여행</a>
                <!-- <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Support</a>
                <a class="py-2 link-body-emphasis text-decoration-none" href="#">Pricing</a> -->
            </nav>
        </div>

        <!-- <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
          <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
        </div> -->
    </header>
</th:block>

</html>

